<% layout("template.ejs") %>
    <div class="text-content">
        <% if (typeof errors !== "undefined") { %>
            <article class="message is-danger">
              <div class="message-header">
                <p>Erreurs dans le formulaire</p>
              </div>
              <div class="message-body message-errors">
                Veuillez verifier les champs suivants:
                <ul>
                  <% for (let i=0; i < errors.length; i++) { %>	
                    <li><%= errors[i].msg%></li>
                  <%}%>
                  </ul>                
              </div>
            </article>
        <%}%>
        <form action="<%= action _%>?_method=PUT" method="POST">
            <div class="field">
                <label class="label" for="name">Nom</label>
                <p class="control has-icons-left has-icons-right">
                <input class="input" id="name" name="name" type="text" value='<% if(typeof old !== "undefined"){ %><%= old.name _%><% }else if(typeof decomposition !== "undefined"){ %><%= decomposition.name _%><% } %>'>
                  <span class="icon is-small is-left">
                    <i class="fas fa-signature"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <label class="label" for="nickname">Surnom</label>
                <p class="control has-icons-left">
                  <input class="input" id="nickname" name="nickname" type="text" value='<% if(typeof old !== "undefined"){ %><%= old.nickname _%><% } else if(typeof decomposition !== "undefined"){ %><%= decomposition.nickname _%><% } %>'>
                  <span class="icon is-small is-left">
                    <i class="fas fa-signature"></i>
                  </span>
                </p>
              </div>
              <div class="field is-grouped is-grouped-centered">
                <p class="control">
                    <a href="/decompositions" class="button is-light">Annuler</a>
                </p>
                <p class="control">
                    <input type="submit" class="button is-primary" value="Valider">
                </p>
              </div>
        </form>
    </div>

